body {
    font-family: 'Roboto Slab', serif;
    margin: 0px;
}
#container-login {
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#login {
    display: flex;
    font-weight: 500;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 70px;
    flex-wrap: wrap;
    font-size: 14px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.label-login {
    font-size: 10px;
    text-decoration: none;
}
.input-login {
    width: 240px;
    height: 20px;
    margin-bottom: 15px;
    border-radius: 3px;
    border-width: 0px;
    background-color:#F4F4F4;
}
#check {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#check-rem {
    display: flex;
    align-items: center;
}
button {
    width: 240px;
    border-radius: 3px;
    background-color:#2A88C8;
    border-color: #2A88C8;
    border-width: 0px;
    color: white;
    font-size: 12px;
    height: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}
#email {
    background-image: url(img/email.png);
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: left;
    text-indent: 20px;
    font-size: 10px;
}
#pass {
    background-image: url(img/senha.png);
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: left;
    text-indent: 20px;
    font-size: 10px;
}
#image {
    background-image: url(img/imgSide.png);
    background-repeat: no-repeat;
    width: 50vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
#screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}